<% include partials/header %>
<% include partials/navbar %>
    <h1>Game info</h1>
    <img class="card-img-top" src="<%= game.icon %>" alt="Card image" width="50%">
    <h3>Title<%= game.title %></h3>
<% include partials/footer %>